body {
	background-color: #a7a7a9;
}
/* Header */
.header {
	width: 100%;
	padding-top: 30px;
}


.header_logo {
	text-align: center;
	font-size: 35px;
	font-weight: 800;
	color: black;
}

.nav {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
	text-decoration: none;
	transition: color 2s linear;
}

.nav_link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	display: none;
	background-color: linear-gradient(#e66465, #9198e5);
}

.nav_link:hover {
	color: rgb(52, 28, 14);;
}

.nav_link:hover:after {
	display: block;
}
/* Header */

.section_button{
	display: flex;
	justify-content: center;
}



 button {
  display: block;
  background: #2196f3;
  color: #fff;
  padding: 12px;
  border-radius: 15px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
	margin: 10px;
}

table {
	width: 100%;
	background-color: aliceblue;
	border-radius: 20px;
}

table, th, td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

th {
	font-size: 18px;
	padding: 10px;
}

td {
	text-align: center;
	background: yellowgreen;
	padding: 15px;
}

th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
}


/* Up button */
.button-up {
	position: fixed;
	right: 10px;
	bottom: 200px;
	width: 50px;
	height: 50px;
	border-color: transparent;
	border-radius: 50%;
	background-color: aquamarine;
}

.button-up:hover,
.button_up:focus {
	filter: brightness(1,5);
	outline: none;
}

.button-up::before,
.button-up::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button-up::before {
	width: 5px;
	height: 20px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
}

.button-up::after {
	width: 15px;
	height: 15px;
	transform: translate(-50%, -50%) rotate(45deg);
	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
}
/* Up button */